body {
  margin: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  color: #000000;
  background-color: #ffffff;
}
/* убрать подчеркивание у ссылок */
a {
  text-decoration: none;
}

/* убрать маркеры списка */
.site-navigation-top,
.site-navigation-bottom,
.list-service,
.footer-navigation-list,
.footer-social-links,
.header-user-navigation,
.breadcrumbs {
  list-style: none;
}
/* Мои заказы и Личный кабинет на странице каталога */
.header-user-navigation a:link{
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  text-decoration:underline;
  color: #32425c;
}
/* Мои заказы и Личный кабинет на странице каталога */
.header-user-navigation a:hover{
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  text-decoration:underline;
  color: #ee3643;
}
/* Мои заказы и Личный кабинет на странице каталога */
.header-user-navigation a:active{
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  text-decoration:underline;
  color: rgba(50, 66, 92, 0.3);
}

/* белый цвет текста ссылок */
.main-user-navigation a,
.site-navigation-top a,
.new-item.html a,
.list-service a,
.style-links,
.social-button {
  color: #ffffff;
}
/* желтый цвет ссылок */
.footer-navigation-list a {
  color: #ffda96;
}

/* серый цыет ссылок в нижнем меню */
.site-navigation-bottom a {
  color: #f3f7f9;
}

/* "Оформить заказ" непосещенная ссылка */
.checkout-link:link  {
  background-color: #63a63e;
}

/* "Оформить заказ" наведение и фокус */
.checkout-link:hover {
  background-color: #5fbb2d;
}

/* "Оформить заказ" клик*/
.checkout-link:active {
  background-color: #518534;
}

/* "Закладки" "Корзина" наведение и фокус */
.user-link:hover {
  background-color: #212a3a;
}

/* "Закладки" "Корзина" клик*/
.user-link:active {
  background-color: #161d29;
}

/* поле поиска, непосещенная */
input[type=search] {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: normal;
  color: #ffffff;
  background-color: transparent;
  border: none;
}

/* поле поиска, наведение и фокус */
input[type=search]:hover {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: normal;
  color: #ffffff;
  opacity: 1;
  background-color: #212a3a;
  border: none;
}

/* поле поиска, курсор в поле поиска */
input[type=search]:focus {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: normal;
  color: #000000;
  background-color: #ffffff;
  border: none;
}

input[type=search]::-
webkit-input-placeholder {
  color: #ffffff;
}

/* меню
светло-серая заливка */
.main-navigation {
  background-color: #f4f7f9;
  min-height: 320px;
}

/* темно-синяя заливка меню - top */
.main-user-navigation {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  background-color: #293449;
  color: #ffffff;
}

/* меню, темно-синяя заливка и меню вверху */
.site-navigation-top {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 17px;
  background-color: #32425c;
  box-shadow: 0 -5px 0 #293449 inset;
}

/* навигация по сайту, покой */
.site-navigation-top li:link{
  background-color: #32425c;
}

/* навигация по сайту, наведение и фокус */
.site-navigation-top li:hover{
  background-color: #293449;
}

/* навигация по сайту, клик */
.site-navigation-top li:active{
  background-color: #1d2739;
}

h1 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  font-style: italic;
  color: #ee3643;
}


h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  vertical-align: middle;
}

.service {
  background-color: #f4f7f9;
}

.service-delivery-h2{
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
  text-transform: uppercase;
  color: #32425c;
}

.tel {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  border: 3px solid #ffffff;
}

.address-header {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
  color: #32425c;
}

/* "Войти Регистрация" непосещенная ссылка */
.login-link:link  {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}
/* "Войти Регистрация" наведение и фокус */
.login-link:hover {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  background-color: #ffffff;
}

/* "Войти Регистрация" клик */
.login-link:active {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
}

/* "Равшан Джамшутович" покой */
.login-link-visit:link  {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}
/* "Равшан Джамшутович" наведение и фокус */
.login-link-visit:hover {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

/* "Равшан Джамшутович" клик */
.login-link-visit:active {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
}

/* временно, фон бонусной части */
.features,
.popular-item,
.popular-mechanism {
  background-color: gray;
}
/* список: Деловые линии,... */
.delivery-list {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: normal;
  color: #000000;
  background-color: #ffffff;
}

/* меню сервиса: Доставка, Гарантии, Кредит */
 .list-service {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  text-align: left;
  background-color: #32425c;
  color: #ffffff;
}
/* меню сервиса: Доставка, Гарантии, Кредит покой */
.list-service li{
  background-color: #32425c;
  /* box-shadow: 0 2px 0 #293449;
  box-shadow: 0 1px 0 #405069 inset; */
}

/* меню сервиса: Доставка, Гарантии, Кредит */
.list-service li:hover{
  background-color: #293449;
  /* box-shadow: 0 1px 0 #293449;
  box-shadow: 0 1px 0 #405069 inset; */
}

/* меню сервиса: Доставка, Гарантии, Кредит */
/* индикатор активности */
.list-service li:active{
  background-color: #ffffff;
  box-shadow: 0 1px 0 #ffffff;
  box-shadow: 0 -1px 0 #ffffff inset;
  color: #32425c;
}

.red {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: #ffffff;
  background-color: #ee3643;
}

.address-footer {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  color: #f3f7f9;
}

/* меню, темно-синяя заливка и меню Компания Новости Каталог Доставка внизу */
.site-navigation-bottom,
.footer-navigation ul {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;
}

/* меню, темно-синяя заливка и меню Компания Новости Каталог Доставка внизу */
.site-navigation-bottom li:hover,
.footer-navigation li:hover {
  text-decoration: underline;
}

/* меню, темно-синяя заливка и меню Компания Новости Каталог Доставка внизу */.site-navigation-bottom li:active,
.footer-navigation li:active {
  color: rgba(241, 245, 247, 0.5);
}

.footer-site-contacts {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  color: #ffffff;
  background-color: #293449;
}

.contacts {
  color: #ffd180;
}

.contacts:active {
  color: #ee3643;
}

.modal,
.bonus {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* корзина полная для js*/
.basket-full {
  background-color: #ee3643;
}

.breadcrumbs {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  color: #000000;
  background-color: #ffffff;
  text-transform: uppercase;
}

.catalog-items {
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}

.catalog-items:hover {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.item-name {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  color: #000000;
  text-align: center;
}
.price-old {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: #999999;
  text-align: center;
  text-decoration: line-through;
}

.price-new {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: #ffffff;
  /* временно */
  background-color: blue;
}

.buy-button a:link {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: #ffffff;
  background-color: #63a63e;
  box-shadow: 0 -3px #367315 inset;
}

.buy-button a:hover {
  background-color: #5fbb2d;
  box-shadow: 0 -3px #367315 inset;
}

.buy-button a:active {
background-color: #518534;
}

.bookmark-button a:link {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: #32425c;
  background-color: #ffffff;
  border: 3px solid #63a63e;
}

.bookmark-button a:hover {
  border: 3px solid #32425c;
}

.bookmark-button a:active {
  color: rgba(50, 66, 92, 0.3);
  border: 3px solid rgba(50, 66, 92, 0.3);
}
/* Логотип Техномарт на главной в шапке */
.logo-top {
  width: 220px;
  height: 42px;
  background-color: #ee3643;
  box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.24);
}

/* Логотип Техномарт на внутренних страницах в шапке */
.logo-link:hover {
  background-color: #ca2c37;
}
/* Логотип Техномарт на внутренних страницах в шапке */
.logo-link:active {
  background-color: #ba2732;
}

/* Логотип Техномарт на главной в подвале */
.logo-bottom {
  width: 220px;
  height: 68px;
  background-color: #ee3643;
  box-shadow: 0 -5px 0 0 rgba(0, 0, 0, 0.24) inset;
  margin-top: 0;
  margin-bottom: 32px;
}

/* Логотип Техномарт на внутренних страницах в подвале */
.logo-link:hover {
  background-color: #ca2c37;
}
/* Логотип Техномарт на внутренних страницах в подвале */
.logo-link:active {
  background-color: #ba2732;
}

/* Сетка */
html,
body {
  min-width: 1200px;
  min-height: 3151px;
  margin: 0 auto;
}
/* сбросить отступы списка по умолчанию */
.site-navigation-top ul,
.site-navigation-bottom ul,
.header-user-navigation ul,
.footer-social-links {
  margin: 0;
}

/* сделать блочными элементами */
a,
img {
  display: block;
}
/* вся шапка */
.main-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

/* верх шапки */
.main-user-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

/* середина шапки */
.wrapper {
  display: flex;
  justify-content: space-between;
  min-height: 158px;
  align-items: center;
  width: 940px;
  margin: 0 auto;
  padding: 0;
}

/* низ шапки */
.site-navigation-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 940px;
  min-height: 60px;
  margin: 0 auto 60px;
  padding: 0;
}
/* Шапка - Логотип Техномарт */
.logo-top {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 130px;
}

.checkout-link {
  margin-right: 130px;
}

.menu-container {
  width: 196px;
  margin-left: 60px;
}

.conacts {
  display: flex;
  width: 270px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.tel {
  width: 270px;
}

.contacts-wrapper {
  display:flex;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
  padding: 82px 130px 86px;
}

.about-company {
  width: 519px;
  outline: 1px solid gray;
}

.contacts-map {
  width: 300px;
  outline: 1px solid gray;
}
/* весь подвал */
.main-footer {
  width: 1200px;
  margin: 0 auto;
  /* временно */
}

.footer-menu-navigation {
 padding: 0 130px;
background-color: #32425c;
}

/* подвал, список */
.footer-site-menu {
  display: flex;
  justify-content: space-between;
}

.footer-site-menu ul {
  display: flex;
}

.address-footer {
  display: flex;
  justify-content: space-between;
}

.address-footer ul {
  display: flex;
  justify-content: space-between;
}

.address-footer p{
  /* margin-bottom: 53px; */
}

.footer-site-contacts {
  display: flex;
  min-height: 107px;
  padding-left: 130px;
  padding-right: 130px;
  justify-content: space-between;
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  width: 940px;
padding: 23px 0;
}

.background-gray {
  display: flex;
  align-items: center;
  background-color: #f2f6f8;
  width: 940px;
  margin: 0 auto 20px;
  min-height: 89px;
}

.items-wrapper {
  width: 940px;
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
}

.catalog {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 700px;
}

.mechanism-filters {
  width: 220px;
}

.catalog article {
  width: 220px;
}
